@{
    ViewData["Title"] = "Home Page";
}

<style>
    .body {
        margin: 0; /* Reset default margin */
    }

    .iframe {
        display: block; /* iframes are inline by default */
        background: #000;
        border: none; /* Reset default border */
        height: 100vh; /* Viewport-relative units */
        width: 100vw;
    }
</style>



<body class="body">
    @*<iframe class="iframe" src="https://www.subjebilisim.com/"></iframe>*@
    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=b73424d4-dbfa-42f0-a955-e81fdb8cecfa&autoAuth=true&ctid=1bef4fb2-f9cc-478e-ac6f-da7d49fcad00&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWQtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
</body>