@{
    ViewData["Title"] = "Home Page";
}

<style>
    .body {
        margin: 0; /* Reset default margin */
    }

    .iframe {
        display: block; /* iframes are inline by default */
        background: #000;
        border: none; /* Reset default border */
        height: 100vh; /* Viewport-relative units */
        width: 100vw;
    }
</style>



<body class="body">
    @*<iframe class="iframe" src="https://www.subjebilisim.com/"></iframe>*@
  
    <iframe class="iframe" src="https://app.powerbi.com/view?r=eyJrIjoiMDJhNjFjZDQtYWQ2Ni00NDJjLTg1ZTktNzI2YWI5MThlNzZkIiwidCI6IjFiZWY0ZmIyLWY5Y2MtNDc4ZS1hYzZmLWRhN2Q0OWZjYWQwMCIsImMiOjl9"></iframe>

</body>


