
@{
    ViewData["Title"] = "AI Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var imagePath = @"~\images\pic2.JPG";

}


<style>
    .body {
        margin: 0; /* Reset default margin */
    }

    .ipicture {
        /*display: block;*/ /* iframes are inline by default */
        /*background: #000;*/
        border: none; /* Reset default border */
        height: 90vh; /* Viewport-relative units */
        width: 95vw;
      /*  margin: 1vw;*/
        padding: 1px;
    }
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h2>AI Report for Anomaly Detection.</h2>

    <br />

    <div class="table">

        <h3>Ofisler Genel Görüntüsü</h3>
        <div class="ipicture">
            @*<div style="padding:10px; width:auto ; height:auto;">*@
            <br />
            <br />
            @if (imagePath != "")
            {
                <img src="~/images/pic99.JPG" alt="Sample Image" runat="server" />
            }
            <br />
            <br />
            <br />
            <h4>Normal Detection</h4>
            @if (imagePath != "")
            {
                <img src="~/images/pic11.JPG" alt="Sample Image" runat="server" />
            }
            <br />
            <br />
            <br />
            <h4>Anomaly Detection</h4>
            @if (imagePath != "")
            {
                <img src="~/images/pic12.JPG" alt="Sample Image" runat="server" />
            }
            <br />
            <br />
            <br />
            <h4>Normal Detection</h4>
            @if (imagePath != "")
            {
                <img src="~/images/pic13.JPG" alt="Sample Image" runat="server" />
            }
            <br />
            <br />
            <br />
            <h4>Normal Detection</h4>
            @if (imagePath != "")
            {
                <img src="~/images/pic14.JPG" alt="Sample Image" runat="server" />
            }
            <br />
            <br />
            <br />
        </div>       
    </div>
</div>




