
@{
    ViewData["Title"] = "AI Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var imagePath = @"~\images\pic2.JPG";

}


<style>
    .body {
        margin: 0; /* Reset default margin */
    }

    .ipicture {
        /*display: block;*/ /* iframes are inline by default */
        /*background: #000;*/
        border: none; /* Reset default border */
        height: 90vh; /* Viewport-relative units */
        width: 95vw;
      /*  margin: 1vw;*/
        padding: 1px;
    }
</style>

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <h2>AI Report for Anomaly Detection.</h2>

    <br />

    <div class="table">
        <span class="badge badge-primary">
            <h3>Ofisler Genel Görüntüsü</h3>
            </span>
            <div class="ipicture">
                @*<div style="padding:10px; width:auto ; height:auto;">*@
                <br />
                <br />
                @if (imagePath != "")
                {
                    <img src="~/images/pic99.JPG" alt="Sample Image" runat="server" />
                }
                <br />
                <br />
                <br />
                <span class="badge badge-success">
                    <h4>Normal Detection</h4>
                </span>
                @if (imagePath != "")
                {
                    <img src="~/images/pic111.JPG" alt="Sample Image" runat="server" />
                }
                <br />
                <br />
                <br />
                <span class="badge badge-danger">
                    <h4>Anomaly Detection !!!</h4>
                    <p>Not in correct location , Prohibited Zone</p>
                    <h4>Personel-16</h4>
                </span>
                @if (imagePath != "")
                {
                    <img src="~/images/pic122.JPG" alt="Sample Image" runat="server" />
                }                
                <br />
                <br />
                <br />
                <span class="badge badge-success">
                    <h4>Normal Detection</h4>
                </span>
                @if (imagePath != "")
                {
                    <img src="~/images/pic133.JPG" alt="Sample Image" runat="server" />
                }
                <br />
                <br />
                <br />
                <span class="badge badge-success">
                    <h4>Normal Detection</h4>
                </span>
                @if (imagePath != "")
                {
                    <img src="~/images/pic144.JPG" alt="Sample Image" runat="server" />
                }
                <br />
                <br />
                <br />
            </div>
    </div>
</div>




